.card {
  &[data-checked] {
    border-color: var(--mantine-color-green-filled);
  }
}

.section {
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
}

.like {
  color: var(--mantine-color-red-6);
  width: rem(20px);
  height: rem(20px);
}

.label {
  font-size: var(--mantine-font-size-xs);
  font-weight: 700;
}
